body {
    background-color: rgb(116, 156, 156);
    font-family: courier;
}

p {
    padding: 5px;
    margin: 5px;
}

.hide {
    display: none;
}

h1 {
    padding: 10px;
    margin: 15px;
}

h5,
h6 {
    padding: 10px;
    margin: 10px;
}

img {
    padding: 10px;
    margin: 10px;
}

aside {
    margin-top: 60px;
}

form {
    margin-top: 20px;
}

.border-wide {
    padding: 5px;
    margin: 5px;
    border-style: groove;
    border-width: 5px;
    border-color: antiquewhite;
}

#five-day-heading {
    margin-left: 10px;
    background-color: antiquewhite;
    display: inline;
    padding: 5px;
}

.bg-fill {
    background-color: antiquewhite;
    display: inline;
    padding: 5px;
}

button {
    padding: 5px;
    margin: 5px;
}

.heading-color {
    color: antiquewhite;
}

.search-for {
    display: inline;
    padding: 5px;
    margin: 5px;
}